body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  display: flex;
  background-color: seashell;
}

* {
  /*border: 1px solid black; */
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  text-align: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  width: 250px;
  height: 100vh;
  background-color: #005f73;
  color: #ffffff;
}

#navbar .nav-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  padding: 0.3em 0 0.3em;
}

#navbar .nav-link:hover {
  color: #0a9396;
}

#main-doc {
  padding: 1em 2em;
  color: #001219;
  font-weight: 400;
  background-color: #f8f9fa;
  margin-left: 260px;
}

#main-doc .main-section {
  margin: 2em 0;
  padding: 0 0 0 2em;
}

.main-section p {
  padding-top: 1em;
}

code {
  display: block;
  background-color: #eee;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #navbar {
    height: auto;
    position: static;
    width: 100%;
  }

  #main-doc {
    margin-left: 0;
  }
}
